Node red flow.json
[{"id":"f0f8222.c25eae","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c8a6e81f.6d5ac8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c802666a.fef6c8","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"7f1a1eb.fe5b7e","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e83c11","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":100,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d45a9037.7e06","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"3c1e13e0.2e79ac","type":"ui_group","z":"","name":"","tab":"a0a5fb5d.e79008","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"491f7f43.6df18","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2a2b94f.753bc8","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"ecf7c2ee.a79a5","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"67b116b4.6132e8","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"69d0f1c5.c2ef5","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"a0a5fb5d.e79008","type":"ui_tab","z":"","name":"test","icon":"","disabled":false,"hidden":false},{"id":"af7f28cc.650e58","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"ae477943.8d12a8","type":"ui_group","z":"","name":"Sensor Data's","tab":"f28c1be7.760998","order":1,"disp":true,"width":"6","collapse":false},{"id":"f28c1be7.760998","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"d3365720.270168","type":"ui_group","z":"","name":"dialy chart","tab":"f28c1be7.760998","order":2,"disp":true,"width":"6","collapse":false},{"id":"e873c393.aacb4","type":"ui_group","z":"","name":"command","tab":"f28c1be7.760998","order":2,"disp":true,"width":"6","collapse":false},{"id":"9e182448.df6918","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"86b7b301.f5423","type":"ui_group","z":"","name":"Test","tab":"70579ed2.7fb43","order":1,"disp":true,"width":"6","collapse":false},{"id":"70579ed2.7fb43","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"5d38f358.5412dc","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"5fd9cce6.0d95b4","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4a7200d.87969","type":"ui_group","z":"","name":"station","tab":"5d38f358.5412dc","order":1,"disp":false,"width":"6","collapse":false},{"id":"881759a7.4b1a88","type":"ui_group","z":"","name":"Dialy Chart","tab":"5d38f358.5412dc","order":2,"disp":false,"width":"6","collapse":false},{"id":"e278e6dd.af3928","type":"ui_group","z":"","name":"Video","tab":"40dd8a56.2322b4","order":1,"disp":true,"width":"12","collapse":true},{"id":"40dd8a56.2322b4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3f0f673c.15a678","type":"ui_group","z":"","name":"Group 2","tab":"33550699.dc531a","order":2,"disp":true,"width":"6"},{"id":"a3e9695f.c23448","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"8","collapse":true},{"id":"8a157b05.253ec8","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"4bf9aad5.430104","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d8ce1e32.6c8fe","type":"ui_group","z":"","name":"Default","tab":"9bd13e12.31b57","order":1,"disp":true,"width":"6","collapse":false},{"id":"9bd13e12.31b57","type":"ui_tab","z":"","name":"tab2","icon":"dashboard","disabled":false,"hidden":false},{"id":"16f328ac.c15f17","type":"ui_group","z":"","name":"test","tab":"4bf9aad5.430104","order":2,"disp":true,"width":"6","collapse":true},{"id":"fd09d4e0.59ffb8","type":"ui_group","z":"","name":"Default","tab":"4bf9aad5.430104","order":2,"disp":true,"width":"6","collapse":false},{"id":"a7ff7c98.63eaa","type":"ui_group","z":"","name":"Video","tab":"b599d1df.29101","order":1,"disp":true,"width":"12","collapse":true},{"id":"b599d1df.29101","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"cd0629be.f41598","type":"ui_group","z":"","name":"Log Live2","tab":"83617363.dfc41","order":2,"disp":true,"width":"12"},{"id":"f3a49f16.83117","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"be292970.2c3518","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"37c4d0e7.f2c73","type":"ui_group","z":"","name":"","tab":"4e47c484.1cfefc","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"d0c352b2.8d1c3","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8950cadd.2525a8","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"668d587e.d74c98","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"983dccf0.2815a","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"97cfacd3.66bec","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"4e47c484.1cfefc","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"3d84f9c8.dc7596","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"19f56cd5.52db73","type":"ui_group","z":"","name":"Sensor Data's","tab":"bedff735.9e0028","order":1,"disp":true,"width":"6","collapse":false},{"id":"bedff735.9e0028","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"b6c7f824.2398f8","type":"ui_group","z":"","name":"dialy chart","tab":"bedff735.9e0028","order":2,"disp":true,"width":"6","collapse":false},{"id":"c0373990.9e2e08","type":"ui_group","z":"","name":"command","tab":"bedff735.9e0028","order":2,"disp":true,"width":"6","collapse":false},{"id":"833321ec.0483","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"4b898211.cfee0c","type":"ui_group","z":"","name":"Test","tab":"fcba7a68.04c138","order":1,"disp":true,"width":"6","collapse":false},{"id":"fcba7a68.04c138","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"869dd7f.ac93628","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"8b973afe.fe37c8","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"22e50f43.146d2","type":"ui_group","z":"","name":"station","tab":"869dd7f.ac93628","order":1,"disp":false,"width":"6","collapse":false},{"id":"331b8d35.a0bce2","type":"ui_group","z":"","name":"Dialy Chart","tab":"869dd7f.ac93628","order":2,"disp":false,"width":"6","collapse":false},{"id":"bfc95f5c.afe25","type":"ui_group","z":"","name":"Video","tab":"5ee60da5.0a4d04","order":1,"disp":true,"width":"12","collapse":true},{"id":"5ee60da5.0a4d04","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2b08b195.241f1e","type":"ui_group","z":"","name":"Group 2","tab":"2089677b.420188","order":2,"disp":true,"width":"6"},{"id":"8d9429f1.67ca48","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"8bff3fca.3922c","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"330d00b5.c469d","type":"ui_group","z":"","name":"","tab":"b5fbfee.7ede5","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"1a25eb46.94eaa5","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c99a69c1.9b92d8","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"a7f562e8.ed1da","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"38c382ae.20b9ae","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"c5595cb5.1a8d6","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"b5fbfee.7ede5","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"328249f9.d718f6","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"530e4cd6.543df4","type":"ui_group","z":"","name":"Sensor Data's","tab":"5c46a87c.38f458","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c46a87c.38f458","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"7f5b0ae0.a878e4","type":"ui_group","z":"","name":"dialy chart","tab":"5c46a87c.38f458","order":2,"disp":true,"width":"6","collapse":false},{"id":"63bf6481.e1efac","type":"ui_group","z":"","name":"command","tab":"5c46a87c.38f458","order":2,"disp":true,"width":"6","collapse":false},{"id":"1ddc3003.52c3e","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"db5e074a.9f7be8","type":"ui_group","z":"","name":"Test","tab":"b58799b6.3492c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b58799b6.3492c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"17e18a78.b79526","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"d5aef8ef.bbc538","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"7dafef80.4449f","type":"ui_group","z":"","name":"station","tab":"17e18a78.b79526","order":1,"disp":false,"width":"6","collapse":false},{"id":"1c6e5b69.c1c365","type":"ui_group","z":"","name":"Dialy Chart","tab":"17e18a78.b79526","order":2,"disp":false,"width":"6","collapse":false},{"id":"bef717be.ae2f78","type":"ui_group","z":"","name":"Video","tab":"6749198c.38bf58","order":1,"disp":true,"width":"12","collapse":true},{"id":"6749198c.38bf58","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e514ea79.6ffc28","type":"ui_group","z":"","name":"Group 2","tab":"efd4581a.281728","order":2,"disp":true,"width":"6"},{"id":"f40f6162.ccd82","type":"ui_group","z":"","name":"Default","tab":"5ae16e1d.d11d","order":1,"disp":true,"width":"6","collapse":false},{"id":"5ae16e1d.d11d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"38fdafbf.699a5","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"8","collapse":true},{"id":"8aed1fcd.6110c","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"26a75bf1.37ffa4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a160d01a.b4234","type":"ui_group","z":"","name":"Default","tab":"66ef4bc2.ea1874","order":1,"disp":true,"width":"6","collapse":false},{"id":"66ef4bc2.ea1874","type":"ui_tab","z":"","name":"tab2","icon":"dashboard","disabled":false,"hidden":false},{"id":"44321108.379ff","type":"ui_group","z":"","name":"test","tab":"26a75bf1.37ffa4","order":2,"disp":true,"width":"6","collapse":true},{"id":"cef5cdd8.8216f","type":"ui_group","z":"","name":"Default","tab":"26a75bf1.37ffa4","order":2,"disp":true,"width":"6","collapse":false},{"id":"ca776c81.9772a","type":"ui_group","z":"","name":"Video","tab":"b00bf769.629c88","order":1,"disp":true,"width":"12","collapse":true},{"id":"b00bf769.629c88","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"934ec7d2.d17388","type":"ui_group","z":"","name":"Log Live2","tab":"83617363.dfc41","order":2,"disp":true,"width":"12"},{"id":"d38543e1.ad407","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"e5234db3.30eb7","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"403cb695.2595c8","type":"ui_group","z":"","name":"","tab":"ae2ff490.25fc18","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"173e7f65.2c6f31","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c508cf24.4f51d","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"1c56a19d.a49b3e","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"3e9c7b6.6ba1784","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"ea2c51eb.3c43e","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"ae2ff490.25fc18","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"76f30466.6a134c","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"7bcbcf46.b2dbe","type":"ui_group","z":"","name":"Sensor Data's","tab":"78de8cec.53a404","order":1,"disp":true,"width":"6","collapse":false},{"id":"78de8cec.53a404","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"c6fa9dc0.9b47e","type":"ui_group","z":"","name":"dialy chart","tab":"78de8cec.53a404","order":2,"disp":true,"width":"6","collapse":false},{"id":"419d4b0d.f6a464","type":"ui_group","z":"","name":"command","tab":"78de8cec.53a404","order":2,"disp":true,"width":"6","collapse":false},{"id":"90bde630.242898","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"6f56cf7d.7cbf","type":"ui_group","z":"","name":"Test","tab":"27c259b1.2a5bb6","order":1,"disp":true,"width":"6","collapse":false},{"id":"27c259b1.2a5bb6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"854d9f9c.2d0c8","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"5e7095fa.9f94cc","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"cd73202c.cf1c6","type":"ui_group","z":"","name":"station","tab":"854d9f9c.2d0c8","order":1,"disp":false,"width":"6","collapse":false},{"id":"e398c4e1.52d838","type":"ui_group","z":"","name":"Dialy Chart","tab":"854d9f9c.2d0c8","order":2,"disp":false,"width":"6","collapse":false},{"id":"16877471.c2886c","type":"ui_group","z":"","name":"Video","tab":"71ff5d0a.4f2ec4","order":1,"disp":true,"width":"12","collapse":true},{"id":"71ff5d0a.4f2ec4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"870157c1.6b98d8","type":"ui_group","z":"","name":"Group 2","tab":"2089677b.420188","order":2,"disp":true,"width":"6"},{"id":"bd88e497.2fa118","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"34897ebb.480cb2","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"c49d0848.9329e8","type":"ui_group","z":"","name":"","tab":"cb92ac1f.81087","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"24635e5.a2301a2","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb83b05a.c6598","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"45bf4b59.afb524","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"e060d29c.d89c5","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"24545103.f2dfce","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"cb92ac1f.81087","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"3613fbb4.74cef4","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"be6d7288.1a4a5","type":"ui_group","z":"","name":"Sensor Data's","tab":"ef88c0cf.fc931","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef88c0cf.fc931","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"384bb4d4.2410ec","type":"ui_group","z":"","name":"dialy chart","tab":"ef88c0cf.fc931","order":2,"disp":true,"width":"6","collapse":false},{"id":"da58361b.5bfb98","type":"ui_group","z":"","name":"command","tab":"ef88c0cf.fc931","order":2,"disp":true,"width":"6","collapse":false},{"id":"45b30f4f.fc466","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"8f66ee21.8bca3","type":"ui_group","z":"","name":"Test","tab":"c7b7341a.fda938","order":1,"disp":true,"width":"6","collapse":false},{"id":"c7b7341a.fda938","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3791e8ff.489b48","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"c3a01f9.2d0ffe","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"8afc3363.24933","type":"ui_group","z":"","name":"station","tab":"3791e8ff.489b48","order":1,"disp":false,"width":"6","collapse":false},{"id":"6754a3c3.be4f8c","type":"ui_group","z":"","name":"Dialy Chart","tab":"3791e8ff.489b48","order":2,"disp":false,"width":"6","collapse":false},{"id":"b7617cb5.dbd43","type":"ui_group","z":"","name":"Video","tab":"edde007b.e9907","order":1,"disp":true,"width":"12","collapse":true},{"id":"edde007b.e9907","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2ac0d6e1.d44dba","type":"ui_group","z":"","name":"Group 2","tab":"efd4581a.281728","order":2,"disp":true,"width":"6"},{"id":"82c0f1ad.287c5","type":"ui_group","z":"","name":"smart","tab":"2083c51e.54eefa","order":1,"disp":true,"width":"6","collapse":false},{"id":"2083c51e.54eefa","type":"ui_tab","z":"","name":"Temperature-smart","icon":"dashboard","disabled":false,"hidden":false},{"id":"3dd92497.f938cc","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"728e4099.56f0b","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"8","collapse":true},{"id":"fe452426.cf7948","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"dd698b79.253bb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc893dbf.4e7d4","type":"ui_group","z":"","name":"Default","tab":"2831d214.7ab65e","order":1,"disp":true,"width":"6","collapse":false},{"id":"2831d214.7ab65e","type":"ui_tab","z":"","name":"tab2","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1b0764a.2036e8","type":"ui_group","z":"","name":"test","tab":"dd698b79.253bb8","order":2,"disp":true,"width":"6","collapse":true},{"id":"9dc32888.e7fd28","type":"ui_group","z":"","name":"Default","tab":"dd698b79.253bb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ce472944.9a3c08","type":"ui_group","z":"","name":"Video","tab":"aea763fa.97f02","order":1,"disp":true,"width":"12","collapse":true},{"id":"aea763fa.97f02","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b545a5ab.9678e8","type":"ui_group","z":"","name":"Log Live2","tab":"83617363.dfc41","order":2,"disp":true,"width":"12"},{"id":"6415c900.89f118","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b7be5fab.48c16","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"b7410e0d.f1e0c","type":"ui_group","z":"","name":"","tab":"c91ba237.28f1b","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"59f620b.bac88e","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ccae07c.9cdf4","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"639c03d6.2fee4c","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"822a82db.7603","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"50484f64.ad34d","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"c91ba237.28f1b","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"90b61e14.3ac99","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"931e1f95.d4006","type":"ui_group","z":"","name":"Sensor Data's","tab":"4344ee82.9698f","order":1,"disp":true,"width":"6","collapse":false},{"id":"4344ee82.9698f","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"523fef05.78ac6","type":"ui_group","z":"","name":"dialy chart","tab":"4344ee82.9698f","order":2,"disp":true,"width":"6","collapse":false},{"id":"991de711.34be88","type":"ui_group","z":"","name":"command","tab":"4344ee82.9698f","order":2,"disp":true,"width":"6","collapse":false},{"id":"2bca8d9f.1b44d2","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"aea70cb6.aed51","type":"ui_group","z":"","name":"Test","tab":"ef8536d5.e26588","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef8536d5.e26588","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"df78453c.d54798","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"f8482191.724c4","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2771e401.5bb42c","type":"ui_group","z":"","name":"station","tab":"df78453c.d54798","order":1,"disp":false,"width":"6","collapse":false},{"id":"9c508e87.35f87","type":"ui_group","z":"","name":"Dialy Chart","tab":"df78453c.d54798","order":2,"disp":false,"width":"6","collapse":false},{"id":"34dadd20.c2f972","type":"ui_group","z":"","name":"Video","tab":"e5e8a69a.df59e8","order":1,"disp":true,"width":"12","collapse":true},{"id":"e5e8a69a.df59e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"30e505c4.7d48ba","type":"ui_group","z":"","name":"Group 2","tab":"2089677b.420188","order":2,"disp":true,"width":"6"},{"id":"c0a9ea2b.879e08","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"8966c377.7a396","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"72285012.8e755","type":"ui_group","z":"","name":"","tab":"859d5f45.8249c","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"2adb0da4.00ebe2","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f23e0d55.a8bb1","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"b5d19cda.b40f2","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"7183d86d.675098","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"569d6726.47e5d8","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"859d5f45.8249c","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"e517786c.493bd8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"fda7373a.5c9998","type":"ui_group","z":"","name":"Sensor Data's","tab":"3561a05c.6e653","order":1,"disp":true,"width":"6","collapse":false},{"id":"3561a05c.6e653","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"334cc7f7.e11d28","type":"ui_group","z":"","name":"dialy chart","tab":"3561a05c.6e653","order":2,"disp":true,"width":"6","collapse":false},{"id":"31c60670.a4ffaa","type":"ui_group","z":"","name":"command","tab":"3561a05c.6e653","order":2,"disp":true,"width":"6","collapse":false},{"id":"2610a24a.0eb48e","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"77978ac1.0ab274","type":"ui_group","z":"","name":"Test","tab":"e2246367.64a2","order":1,"disp":true,"width":"6","collapse":false},{"id":"e2246367.64a2","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"c91c38b9.961bb8","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"f002edb6.85449","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a97bc321.20997","type":"ui_group","z":"","name":"station","tab":"c91c38b9.961bb8","order":1,"disp":false,"width":"6","collapse":false},{"id":"ca15d327.0f8c7","type":"ui_group","z":"","name":"Dialy Chart","tab":"c91c38b9.961bb8","order":2,"disp":false,"width":"6","collapse":false},{"id":"3d1e60bd.a3641","type":"ui_group","z":"","name":"Video","tab":"eb315038.89ff","order":1,"disp":true,"width":"12","collapse":true},{"id":"eb315038.89ff","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b410c2c4.cb221","type":"ui_group","z":"","name":"Group 2","tab":"efd4581a.281728","order":2,"disp":true,"width":"6"},{"id":"3c22524e.fcc56e","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"8","collapse":true},{"id":"367e8fde.6dac","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":73,"sy":73,"gx":100,"gy":100,"cx":8,"cy":8,"px":1,"py":10}}},{"id":"f49243fd.a8a45","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"219d31c7.c19c1e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1a59449.637458","type":"ui_group","z":"","name":"Default","tab":"9c770499.031b58","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c770499.031b58","type":"ui_tab","z":"","name":"tab2","icon":"dashboard","disabled":false,"hidden":false},{"id":"3e62c4a8.2262ac","type":"ui_group","z":"","name":"test","tab":"219d31c7.c19c1e","order":2,"disp":true,"width":"6","collapse":true},{"id":"e73a2c8a.78413","type":"ui_group","z":"","name":"Default","tab":"219d31c7.c19c1e","order":2,"disp":true,"width":"6","collapse":false},{"id":"dfc3b00d.56a5b","type":"ui_group","z":"","name":"Video","tab":"578f8cdf.948894","order":1,"disp":true,"width":"12","collapse":true},{"id":"578f8cdf.948894","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"668449de.29de28","type":"ui_group","z":"","name":"Log Live2","tab":"83617363.dfc41","order":2,"disp":true,"width":"12"},{"id":"12afce48.3577e2","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"52d0c44e.a422bc","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e83c11","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":100,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"288110d2.d3f4d","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"e8fea725.759e88","type":"ui_group","z":"","name":"","tab":"9a25c561.9d5458","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"51b7cb24.3e81d4","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b3bf3616.384e08","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"6e1ab718.b65b48","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"bcef5ad.ca65da8","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"2170988a.286108","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"9a25c561.9d5458","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"b2dcf413.610be8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"ab93a45.7585858","type":"ui_group","z":"","name":"Sensor Data's","tab":"59b007c4.517b38","order":1,"disp":true,"width":"6","collapse":false},{"id":"59b007c4.517b38","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"fd199b5c.2404f8","type":"ui_group","z":"","name":"dialy chart","tab":"59b007c4.517b38","order":2,"disp":true,"width":"6","collapse":false},{"id":"98c29a79.3de678","type":"ui_group","z":"","name":"command","tab":"59b007c4.517b38","order":2,"disp":true,"width":"6","collapse":false},{"id":"3cad00b3.afb9b","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"6022b389.3ad43c","type":"ui_group","z":"","name":"Test","tab":"73215a5f.ea6d14","order":1,"disp":true,"width":"6","collapse":false},{"id":"73215a5f.ea6d14","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ec29e5fe.67e178","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"478d09b1.c46648","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"67260799.9e5618","type":"ui_group","z":"","name":"station","tab":"ec29e5fe.67e178","order":1,"disp":false,"width":"6","collapse":false},{"id":"3f524040.b36a7","type":"ui_group","z":"","name":"Dialy Chart","tab":"ec29e5fe.67e178","order":2,"disp":false,"width":"6","collapse":false},{"id":"d7fce71f.391c28","type":"ui_group","z":"","name":"Video","tab":"1d1c4dec.482102","order":1,"disp":true,"width":"12","collapse":true},{"id":"1d1c4dec.482102","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ade9f4ce.648c98","type":"ui_group","z":"","name":"Group 2","tab":"2089677b.420188","order":2,"disp":true,"width":"6"},{"id":"854a0041.3eef6","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"dc666f9c.1fe28","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e83c11","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":100,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3b1628c5.39c148","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"d4868468.18da88","type":"ui_group","z":"","name":"","tab":"e6327c54.79eb5","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"44548758.446388","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8d86531.0b848b","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"4ffa7207.9d71cc","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"904e8faf.4927a","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"5c4c9b08.93c604","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"e6327c54.79eb5","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"20d1e736.3de8d8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"62a91149.33299","type":"ui_group","z":"","name":"Sensor Data's","tab":"c31ad703.00e5d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c31ad703.00e5d8","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"6e61cda0.3654a4","type":"ui_group","z":"","name":"dialy chart","tab":"c31ad703.00e5d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b16e6038.78e9a","type":"ui_group","z":"","name":"command","tab":"c31ad703.00e5d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c3df7a39.dd90e8","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"43050264.253d0c","type":"ui_group","z":"","name":"Test","tab":"c8628891.a8fed8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c8628891.a8fed8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1934d325.8d03cd","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"fb303be.baae3c8","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"9547a107.ebae1","type":"ui_group","z":"","name":"station","tab":"1934d325.8d03cd","order":1,"disp":false,"width":"6","collapse":false},{"id":"e87968e5.329498","type":"ui_group","z":"","name":"Dialy Chart","tab":"1934d325.8d03cd","order":2,"disp":false,"width":"6","collapse":false},{"id":"401d367b.076538","type":"ui_group","z":"","name":"Video","tab":"245bc519.5b437a","order":1,"disp":true,"width":"12","collapse":true},{"id":"245bc519.5b437a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d4636560.76e4e8","type":"ui_group","z":"","name":"Group 2","tab":"efd4581a.281728","order":2,"disp":true,"width":"6"},{"id":"72547162.58958","type":"ui_group","z":"","name":"work","tab":"a0a5fb5d.e79008","order":2,"disp":true,"width":"6","collapse":false},{"id":"ab802fa5.8adde","type":"ui_group","z":"","name":"chart","tab":"a0a5fb5d.e79008","order":3,"disp":true,"width":"6","collapse":false},{"id":"4246150c.9bf38c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6126fbd8.2b6044","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"10a3a268.76167e","type":"ui_tab","z":"","name":"Temperature-smart","icon":"dashboard","disabled":false,"hidden":false},{"id":"66dc562f.4b9258","type":"ui_group","z":"","name":"Gauge","tab":"10a3a268.76167e","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a493439.03ad6c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b4065f71.727","type":"ui_tab","z":"","name":"Smart-humidity","icon":"dashboard","disabled":false,"hidden":false},{"id":"41d79f3f.ef5f5","type":"ui_group","z":"","name":"Chart","tab":"b4065f71.727","order":1,"disp":true,"width":"6","collapse":false},{"id":"af1284b5.d76978","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"32ee9dc.d3db462","type":"ui_group","z":"","name":"Temperature","tab":"af1284b5.d76978","order":1,"disp":true,"width":"6","collapse":false},{"id":"14b9c171.f73a3f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b21ebd4b.611d9","type":"ui_group","z":"","name":"Humidity","tab":"14b9c171.f73a3f","order":1,"disp":true,"width":"6","collapse":false},{"id":"66f48d81.4050f4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ce9cde35.1e6c4","type":"ui_group","z":"","name":"Chart","tab":"10a3a268.76167e","order":2,"disp":true,"width":"6","collapse":false},{"id":"c43696d8.f8ec38","type":"ui_group","z":"","name":"Chart","tab":"b4065f71.727","order":2,"disp":true,"width":"6","collapse":false},{"id":"503828b5.d49248","type":"ui_group","z":"","name":"Chart","tab":"af1284b5.d76978","order":2,"disp":true,"width":"6","collapse":false},{"id":"d697da85.5bc618","type":"ui_group","z":"","name":"Chart","tab":"14b9c171.f73a3f","order":2,"disp":true,"width":"6","collapse":false},{"id":"29f0555f.95d7ba","type":"ui_group","z":"","name":"Gauge","tab":"b4065f71.727","order":3,"disp":true,"width":"6","collapse":false},{"id":"a13b28bd.187688","type":"ibmiot in","z":"c8a6e81f.6d5ac8","authentication":"apiKey","apiKey":"3dd92497.f938cc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"shakthivel-02-12-2000","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":80,"y":120,"wires":[["47540b9f.f71054","95167ae7.5d3f48","9bac9094.41654","502a9ebd.d0bcc"]]},{"id":"47540b9f.f71054","type":"debug","z":"c8a6e81f.6d5ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":120,"wires":[]},{"id":"95167ae7.5d3f48","type":"function","z":"c8a6e81f.6d5ac8","name":"temp","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["47540b9f.f71054","4a05fd03.bd27f4","e5acde7e.e742a"]]},{"id":"9bac9094.41654","type":"function","z":"c8a6e81f.6d5ac8","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["47540b9f.f71054","51011a97.0be734","7f89b081.2be34"]]},{"id":"502a9ebd.d0bcc","type":"function","z":"c8a6e81f.6d5ac8","name":"soil moistutre","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["93acc805.61e1e8","47540b9f.f71054","d6e42899.ab32a8"]]},{"id":"4a05fd03.bd27f4","type":"ui_gauge","z":"c8a6e81f.6d5ac8","name":"","group":"66dc562f.4b9258","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp gauge","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":180,"wires":[]},{"id":"51011a97.0be734","type":"ui_gauge","z":"c8a6e81f.6d5ac8","name":"","group":"29f0555f.95d7ba","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":280,"wires":[]},{"id":"93acc805.61e1e8","type":"ui_gauge","z":"c8a6e81f.6d5ac8","name":"","group":"66dc562f.4b9258","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":400,"wires":[]},{"id":"b5cae4fd.6b2b08","type":"http request","z":"f0f8222.c25eae","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":100,"wires":[["608732d6.c5e2bc","fb10d44b.97ccd8","ae0a91f7.9e50a","737659ca.5bd2a8"]]},{"id":"be5ee730.b352b8","type":"inject","z":"f0f8222.c25eae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["b5cae4fd.6b2b08"]]},{"id":"608732d6.c5e2bc","type":"debug","z":"f0f8222.c25eae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":120,"wires":[]},{"id":"fb10d44b.97ccd8","type":"debug","z":"f0f8222.c25eae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","x":570,"y":180,"wires":[]},{"id":"6c37b1ef.d3fd5","type":"ui_gauge","z":"f0f8222.c25eae","name":"","group":"32ee9dc.d3db462","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":260,"wires":[]},{"id":"399b275e.3e77b8","type":"ui_chart","z":"f0f8222.c25eae","name":"","group":"503828b5.d49248","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff0f8f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":340,"wires":[[]]},{"id":"ae0a91f7.9e50a","type":"change","z":"f0f8222.c25eae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":260,"wires":[["6c37b1ef.d3fd5","399b275e.3e77b8"]]},{"id":"737659ca.5bd2a8","type":"change","z":"f0f8222.c25eae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":400,"wires":[["ba03bc.8c903c48","da70c753.9ed8b8"]]},{"id":"ba03bc.8c903c48","type":"ui_gauge","z":"f0f8222.c25eae","name":"","group":"b21ebd4b.611d9","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":400,"wires":[]},{"id":"da70c753.9ed8b8","type":"ui_chart","z":"f0f8222.c25eae","name":"","group":"d697da85.5bc618","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":460,"wires":[[]]},{"id":"e5acde7e.e742a","type":"ui_chart","z":"c8a6e81f.6d5ac8","name":"","group":"ce9cde35.1e6c4","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":220,"wires":[[]]},{"id":"7f89b081.2be34","type":"ui_chart","z":"c8a6e81f.6d5ac8","name":"","group":"c43696d8.f8ec38","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":340,"wires":[[]]},{"id":"d6e42899.ab32a8","type":"ui_chart","z":"c8a6e81f.6d5ac8","name":"","group":"ce9cde35.1e6c4","order":3,"width":0,"height":0,"label":"soil moisutre","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":460,"wires":[[]]},{"id":"ab791204.7e442","type":"ibmiot out","z":"c8a6e81f.6d5ac8","authentication":"apiKey","apiKey":"66f48d81.4050f4","outputType":"cmd","deviceId":"ashwin0705","deviceType":"ashwinout","eventCommandType":"blink","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":460,"y":540,"wires":[]},{"id":"a5baedb0.aa18a","type":"ui_button","z":"c8a6e81f.6d5ac8","name":"","group":"66dc562f.4b9258","order":4,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":220,"y":500,"wires":[["ab791204.7e442","47540b9f.f71054","888f9d68.54712"]]},{"id":"9edbed20.914fc","type":"ui_button","z":"c8a6e81f.6d5ac8","name":"","group":"66dc562f.4b9258","order":5,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":220,"y":540,"wires":[["ab791204.7e442","47540b9f.f71054","888f9d68.54712"]]},{"id":"888f9d68.54712","type":"ui_text","z":"c8a6e81f.6d5ac8","group":"ce9cde35.1e6c4","order":6,"width":0,"height":0,"name":"","label":"Indicator","format":"{{msg.payload.command}}","layout":"row-center","x":380,"y":640,"wires":[]},{"id":"47924ea4.44d98","type":"ui_template","z":"f0f8222.c25eae","group":"b21ebd4b.611d9","name":"","order":4,"width":0,"height":0,"format":"\n\n<!DOCTYPE html>\n<html>\n<head>\n   \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n   \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":60,"y":440,"wires":[[]]},{"id":"a31aded8.6bba2","type":"ui_template","z":"f0f8222.c25eae","group":"32ee9dc.d3db462","name":"","order":1,"width":0,"height":0,"format":"\n\n\n<!DOCTYPE html>\n<html>\n<head>\n   \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n   \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":220,"y":460,"wires":[[]]},{"id":"53bde36f.16450c","type":"ui_template","z":"c8a6e81f.6d5ac8","group":"66dc562f.4b9258","name":"","order":4,"width":0,"height":0,"format":"\n\n\n<!DOCTYPE html>\n<html>\n<head>\n   \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n   \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":60,"y":440,"wires":[[]]},{"id":"e6e0ae2c.a8f7","type":"ui_template","z":"c8a6e81f.6d5ac8","group":"41d79f3f.ef5f5","name":"","order":0,"width":0,"height":0,"format":"\n\n<!DOCTYPE html>\n<html>\n<head>\n   \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n   \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":200,"y":460,"wires":[[]]}]